<!-- Footer -->
<footer class="bg-dark text-center text-success mx-auto">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Github -->
      <a class="btn btn-outline-success m-1" href="https://github.com/eIliadis93" role="button"
        ><img src="assets/svg/ic-github-logo.svg" /></a>
    </section>
    <!-- Section: Social media -->

  <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a href="" class="text-white"></a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a
                href="https://github.com/eIliadis93/music-microservices.git"
                class="text-success"
                >Github Back-end</a
              >
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!-- Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <ul class="list-unstyled mb-0">
            <li>
              <a
                href="https://github.com/eIliadis93/MusicShelf.git"
                class="text-success"
                >Github Front-end</a
              >
            </li>
            <li></li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        This is a project made for University of Derby and Mediterranean College
        for the module of Distributed Systems.
      </p>
    </section>
    <!-- Section: Text -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
