<div class="container py-2">
  <div class="d-grid gap-2 col-6 mx-auto">
    <h1>Music Player</h1>

    <div *ngFor="let soundtrack of playList">
      <a
        class="btn btn-success"
        data-bs-toggle="collapse"
        href="#{{ soundtrack.id }}"
        role="button"
        aria-expanded="false"
        style="width: 18rem"
        aria-controls="musicListCollapse"
        >Song name: {{ soundtrack.name }}</a
      >
      <div
        class="card collapse multi-collapse"
        id="{{ soundtrack.id }}"
        style="width: 18rem"
      >
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Artist: {{ soundtrack.artist }}</li>
          <li class="list-group-item">Loyalty free music</li>
        </ul>
        <body>
        <audio
          controls
          type="audio/mpeg"
          class="d-grid gap-2 col col-12 mx-auto py-2 audiplay"
        ></audio>
        </body>
        <button
          type="button"
          class="btn btn-success"
          (click)="downloadSoundtrack(soundtrack.name)"
        >
          Download
        </button>
      </div>
    </div>
  </div>
</div>
