.player{
    inline-size: -webkit-fill-available;
}

.topText {
    font-style: italic !important;
    font-weight: bold !important;
    font-size: 18px !important;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cardAudio{
    padding: 0 !important;
}